# Maven build output
**/target/

# IntelliJ
.idea/
**/.idea/
*.iml

# Logs
logs/
**/logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Local configs
application-local.yml
application-local.properties

# Maven Wrapper (optional)
#.mvn/wrapper/maven-wrapper.jar